server:
  port: 8002

spring:
  application:
    name: analytics-service

management:
  endpoints:
    web:
      exposure:
        include: prometheus,health
  endpoint:
    prometheus:
      enabled: true

